<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Flats</h1>
      <%= link_to 'Add a flat', new_flat_path, class: 'btn btn-primary mt-3 mb-3'%>
      <ul class="list-group">
        <% @flats.each do |flat| %>
          <li class="list-group-item">
            <div>
              <%= image_tag flat.picture_url, class: 'banner' if flat.picture_url.present? %>
              <%= link_to flat.name, flat_path(flat) %>
              <p><%= flat.address %></p>
              <span>Nb of guests: <%= flat.number_of_guests %></span>
              <span>Price per night: <%= flat.price_per_night %></span>
            </div>
            <div class="actions">
              <span class="badge badge-primary"><%= link_to 'Details', flat_path(flat) %></span>
              <span class="badge badge-warning"><%= link_to 'Edit', edit_flat_path(flat) %></span>
              <span class="badge badge-danger"><%= link_to 'Delete', flat_path(flat), method: :delete%></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
